<!-- 导航S -->*/
.center {
	width: 1000px;
	margin: 0 auto;
}
.nav {
	width: 1000px;
	height: 77px;
	margin: 0 auto;
}
.nav_c {
	width: 980px;
	height: 77px;
	margin: 0 auto;
	padding-top: 25px;
}
.nav li {
	float: left;
	padding-left: 20px;

}
.nav li a {
	color: #000000;
	font: normal normal 18px "微软雅黑";
}
/*	<!-- 导航e -->*/
/*早餐s*/
.bf {
	height: 358px;
	
}
.bf h2 {
	text-align: center;
	color:#000000;

}
.bf .tp {
	margin-top: 10px;
}
.bf .tupian1 {
	position: relative;
	width: 330px;
	height: 279px;
	background:url(../images/caomei.png) no-repeat;
}

.bf .tupian1 .explain {
	width: 330px;
	height: 63px;
	background-color:rgba(255,255,255,.6);
	position: absolute;
	bottom: 0px;
	left:0px;
}
.bf .tupian1 .explain .p1 {
	color:#3c3b3a;
	font-size: 18px;
	padding: 10px 0 0 15px;
}
.bf .tupian2 {
	position: relative;
	width: 342px;
	height: 279px;
	background: url(../images/new.png);
}
.bf .tupian2 .explain1 {
	width: 340px;
	height: 63px;
	background-color:rgba(255,255,255,.6);
	position: absolute;
	left:0px;
	bottom: 0px;
	
}
.bf .tupian2 .explain1 .p1 {
	color:#3c3b3a;
	font-size: 18px;
	margin-bottom: 14px;
	padding: 10px 0 0 15px;
}
.bf .tupian3 {
	position: relative;
	width: 342px;
	height: 279px;
	background: url(../images/three.png);
}
.bf .tupian3 .explain2 {
	position: absolute;
	width: 342px;
	height: 63px;
	background-color: rgba(255,255,255,.6);
	left: 0px;
	bottom: 0px;
}
.bf .tupian3 .explain2 .p1 {
	color:#3c3b3a;
	font-size: 18px;
	margin-bottom: 14px;
	padding: 10px 0 0 15px;
}
.bf .tupian4 {
	position: relative;
	width: 330px;
	height: 279px;
	background: url(../images/four.png);
}
.bf .tupian4 .explain3 {
    position: absolute;
    width: 330px;
    height: 63px;
    background-color: rgba(255,255,255,.6);
	left: 0px;
	bottom: 0px;
}
.bf .tupian4 .explain3 .p1 {
	color:#3c3b3a;
	font-size: 18px;
	margin-bottom: 14px;
	padding: 10px 0 0 15px;
}
/*早餐e*/
.sousuo {
	width: 1400px;
	height: 80px;
	margin: 0 auto;
	background-color: #3f3a32;
}
.sousuo .sousuo_center {
	width: 1000px;
	height: 80px;
	margin: 0 auto;
	padding-left: 250px;
	padding-top: 20px;
}
.sousuo .sousuo_center .txt {
	width: 340px;
	height: 41px;
	padding-right: 0px;
	outline: none;
}
.sousuo .sousuo_center .btn {
	width: 100px;
	height: 45px;
	background-color: #ff0000;
	color: #fff;
	border: 1px solid #ff0000;
	
}
/*<!-- 首页菜单e -->*/
.menu .h2t {
	height: 76px;
	font: normal 700 24px/76px "微软雅黑";
	text-align: center;
	position: relative;
}
.more {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	font-size: 12px;
}
.menu {
    overflow: hidden;
}
.menu .img {
	width: 1010px;

}
.menu .img li {
	width: 334px;
	height: 208px;
	float: left;
}
.menu .img li a {
	width: 334px;
	
}
.menu .img img {
	vertical-align: middle;
}
.menu .explain {
	width: 334px;
	height:56px;
	background: #ffffff;
	padding: 5px 0 0 10px;
}
.menu .explain .shuiguo {
	font-size: 18px;
	color:#000000;
	padding-bottom: 10px;
}
.menu .explain1 {
	width: 334px;
	height:56px;
	background: #ffffff;
	padding: 5px 0 0 10px;
}
.menu .explain1 .p1 {
	font-size: 18px;
	color:#000000;
	padding-bottom: 10px;
}
.menu .explain2 {
	width: 334px;
	height: 56px;
	background: #ffffff;
	padding: 5px 0 0 10px;
}
.menu .explain2 .p2 {
    font-size: 18px;
	color:#000000;
	padding-bottom: 10px;
}
.arrow_pos {
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.arrow_pos .arrow a {
	display: inline-block;
    width: 30px;
    height: 98px;
    
    position: absolute;
    top: 145px;
}
.arrow_pos .a1 {
   left: 30px;
   background: url(../images/sprite.png);
   background-position: 0 -320px;
}
.arrow_pos .a2 {
   right: 30px;
   background: url(../images/sprite.png);
   background-position: -30px -320px;
}
/*/*<!-- 首页菜单e -->*/
.sg {
	height: 282px;
	width: 1000px;
	background: url(../images/bb.png) no-repeat 0 10px;
}
.menuz .h2t {
	height: 76px;
	font: normal 700 24px/76px "微软雅黑";
	text-align: center;
	position: relative;
}
.more {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	font-size: 12px;
}
.menuz .tupian {
	width: 1000px;
	height: 377px;
}
.menuz .tu1{
    height: 377px;
    width: 333px;
    background: url(../images/aa.png) no-repeat;
}
.menuz .tu2{
    height: 377px;
    width: 333px;
    background: url(../images/ff.png) no-repeat;
}
.menuz .tu3{
    height: 377px;
    width: 333px;
    background: url(../images/jj.png) no-repeat;
}
.menuz .tupian2 {
	width: 1000px;
	height: 377px;
	padding-top: 10px;
}
.menuz .t1 {
	height: 377px;
    width: 333px;
    background: url(../images/xx.png) no-repeat;
}
.menuz .t2 {
	height: 377px;
    width: 333px;
    background: url(../images/vv.png) no-repeat;
}
.menuz .t3 {
	height: 377px;
    width: 333px;
    background: url(../images/mm.png) no-repeat;
}
.menuz .tupian3 {
	width: 1000px;
	height: 380px;
	padding-top: 5px;
}
.menuz .tu11 {
	height: 377px;
    width: 333px;
    background: url(../images/gg.png) no-repeat;
}
.menuz .tu22 {
	height: 377px;
    width: 333px;
    background: url(../images/uu.png) no-repeat;
}
.menuz .tuijian {
	height: 377px;
    width: 333px;
    background:url(../images/tuijian.png) no-repeat;
}
.jiankang .h2t {
	height: 76px;
	font: normal 700 24px/76px "微软雅黑";
	text-align: center;
	position: relative;
}
.jiankang .more {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	color: #666;
	font-size: 12px;
}
.jxinwen {
	width: 1000px;
	height: 169px;
	padding-top: 10px;
}
.jiankang ul li {
	float: left;
    height: 169px;
	width: 238px;
	background: #ffffff;
}

.jiankang ul li .yu {
	color: #666666;
	padding: 30px 0 10px 5px;
	border-bottom: 1px solid #dedede;
}
.jiankang ul li .huang {
	color: #010101;
	font-size: 16px;
	padding: 5px 0 10px 5px;
	border-bottom: 1px solid #dedede;
}
.jiankang ul li .care {
   color: #666666;
   padding: 10px 0 5px 5px;
}
.jiankang ul li .dapei {
	color: #666666;
	padding: 30px 0 10px 5px;
	border-bottom: 1px solid #dedede;
}
.jiankang ul li .mianbao {
	color: #010101;
	font-size: 16px;
	padding: 5px 0 10px 5px;
	border-bottom: 1px solid #dedede;
}
.jiankang ul li .shijain {
	olor: #666666;
   padding: 10px 0 5px 5px;
}